
<div class="form-group">
  <label for="filterText" class="form-label">Oyuncu Ara</label>

  <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Oyuncu İsmi Giriniz">
</div>


<div *ngIf="filterText" class="alert alert-primary">
 {{filterText}} aradınız.
</div>
<br>

<table class="table">
  <thead >
    <tr>
      <th scope="col">İsim</th>
      <th scope="col">Soyisim</th>
      <th scope="col">Takım</th>
      <th scope="col">Mevki</th>
      <th scope="col">Düzenle</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let player of players | filterPipe:filterText">
      <td>{{player.name}}</td>
      <td>{{player.surname}}</td>
      <td>{{player.teamName}}</td>
      <td>{{player.positionName}}</td>
      <button type="button" class="btn btn-danger active btn-sm" style="margin-top: 10px;" (click)="delete(player.id)">Oyuncu Sil</button>
      <button type="button" class="btn btn-warning active btn-sm" style="margin-left:10px; margin-top: 10px;" routerLink="players/update" routerLink="/players/{{player.id}}">Güncelle</button>
      <br>
      <br>
    </tr>

  </tbody>
</table>
